<div class="animalForm">
  <h4 align="center">
    <p>Insira os dados do seu animal</p>
  </h4>
  <p>
    <label class="t">Nome</label>
    <input id="last_name" type="text" class="validate" [(ngModel)]="animal.nome">
  </p>
  <p>
    <label class="t">Idade</label>
    <input id="last_name" type="text" class="validate" [(ngModel)]="animal.idade">
  </p>
  <div align="right" class="button-container">
    <a class="waves-effect waves-light btn" (click)="salvar()">SALVAR</a>
  </div>

  <div *ngIf="carregando" class="progress">
      <div class="indeterminate"></div>
    </div>

  <h6 align="center"*ngIf="!animais && !carregando">Não há animais cadastrados</h6>

  <div *ngIf="animais">
    <h6>Animais cadastrados</h6>
    <table>
      <thead>
        <tr>
          <th>Nome</th>
          <th>Idade</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let animal of animais">
          <td>
            <span *ngIf="!animal.editando">{{animal.nome}}</span>
            <input *ngIf="animal.editando" type="text" [(ngModel)]="animal.nome" name="nome-{{animal.uid}}">
          </td>
          <td>
            <span *ngIf="!animal.editando">{{animal.idade}}</span>
            <input *ngIf="animal.editando" type="text" [(ngModel)]="animal.idade" name="idade-{{animal.uid}}">
          </td>
          <td *ngIf="!animal.editando" class="remove-parent">
            <a class="edit-parent" (click)="editar(animal)" href="javascript:void(0);">
              <i class="material-icons">edit</i>
            </a>
            <a (click)="remover(animal.uid)" href="javascript:void(0);">
              <i class="material-icons">delete</i>
            </a>
          </td>
          <td *ngIf="animal.editando" class="remove-parent">
            <a class="confirm-parent" (click)="confirmEdit(animal)" href="javascript:void(0);">
              <i class="material-icons">check</i>
            </a>
            <a (click)="cancelEdit(animal)" href="javascript:void(0);">
              <i class="material-icons">close</i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


</div>