<div class="lista" *ngIf="usuarios">
  <h5 align="center">Usuários cadastrados</h5>

  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>E-mail</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios">
        <td>
          <span *ngIf="!usuario.editando">{{usuario.nome}}</span>
          <input *ngIf="usuario.editando" type="text" [(ngModel)]="usuario.nome" name="nome-{{usuario.uid}}">
        </td>
        <td>
          <span *ngIf="!usuario.editando">{{usuario.email}}</span>
          <input *ngIf="usuario.editando" type="text" [(ngModel)]="usuario.email" name="email-{{usuario.uid}}">
        </td>
        <td *ngIf="!usuario.editando" class="remove-parent">
          <a class="edit-parent" (click)="editar(usuario)" href="javascript:void(0);">
            <i class="material-icons">edit</i>
          </a>
          <a (click)="remover(usuario.uid)" href="javascript:void(0);">
            <i class="material-icons">delete</i>
          </a>
        </td>
        <td *ngIf="usuario.editando" class="remove-parent">
          <a class="confirm-parent" (click)="confirmEdit(usuario)" href="javascript:void(0);">
            <i class="material-icons">check</i>
          </a>
          <a (click)="cancelEdit(usuario)" href="javascript:void(0);">
            <i class="material-icons">close</i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
