<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo right"><img src="../assets/images/logo.png" alt=""></a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a routerLink="usuario">Cadastro de usuários</a></li>
            <li><a routerLink="animal">Cadastro de animais</a></li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>

<footer class="page-footer">
    <div class="footer-copyright">

        <div class="container">
            <p>isso é um rodapé</p>
            <p>Emely Melo. bjs de luz.</p>
        </div>
    </div>
</footer>